.DogsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  text-align: center;
  max-width: 250px;
  flex-grow: 4;
  margin: 10px;
  padding: 10px;
}
.DogsCard div {
  word-break: break-all;
}

.DogsCard img {
  border-radius: 50%;
}